*{
   margin: 0;
   padding: 0;
   border: 0;
}

body{
    background: linear-gradient( #000000, #1a8431 , #000000);
}

.logo{
    width: 30px;
    height: 40px;
    margin: 40px 10px 0 40px;
    border-radius: 10px;   
}

.titulo{
    backdrop-filter: blur(3px);
    transition: 10ms;
    display: inline-block;
    font-size: 35px;
    margin: 15px 15px 15px auto;
    color:rgb(248, 237, 237); 
}

.mensajeIngresado{   
    width: 60%;
    height: 373px;
    padding: 20px;
    margin-left: 40px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 15px;
}

.ingresado p{
    display: inline;
    color: #D8DFE8;
}

#texto-ingresado{
    display: block;
    margin: 0 0 20px;
    width: 100%;
    height: 260px;
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    resize: none;
}

::placeholder{
    color: #D8DFE8;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
}

.atencion{
   width: 17px;
   height: 17px;
   margin-top: 20px;  
}

.mensajeProcesado{
    background: #e5e5e5;
    width: 25%;
    height: 400px;
    border-radius: 15px;
    position: absolute;
    display: inline-block;
    margin: 10px 15px 0 30px; 
    margin-left: 30px;
    margin-bottom: 15px;
}

.procesar{
    width: 80%;
    height: 375px;
    padding: 10px;
    margin: 0 auto;
    word-wrap: break-word;

}

#procesado{
    width: 80%;
    height: 330px;
    position: absolute;
    text-align: center;
}

.imagen-mensaje{
    width: 100%;
    height: 340px;
    text-align: center;
    position: relative;
}

.munheco{
    width: 70%;
    padding: 10px;
    margin-top: 80px;
}

.procesado h4{
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
}

.btn{
    width: 940px;
    margin:0 auto;
    padding: 10px;  
}

#encriptar{
    width: 200px;
    height: 40px;
    background: #0a3871;
    color: #FFFFFF;
    border: 1px solid #0a3871;
    border-radius: 24px;
}

#desencriptar{
    width: 200px;
    height: 40px;
    background: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
}

#copiar{
    width: 160px;
    height: 40px;
    background: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    display: block;
    
}

footer{
    text-align: center;
}

.copyright{
    color:#FFFFFF;
    font-size: 15px;
}

@media(max-width:480px){
header{
    text-align: center;
}
.logo{
    margin: 40px 10px 0 0;
}
.titulo{
    text-align: center;
    font-size: 25px;
    margin: auto;
}
.mensajeIngresado{
    width: 80%;
    display: inline;
    text-align: center;
}    

.ingresado{
    padding: 15px;
}
.mensajeProcesado{
    width: 80%;
    position: relative;
    margin: auto;
}


.btn{
    width: 90%;   
}

#encriptar{
    width: 75%;
}

#desencriptar{
    width: 75%;
    margin-top: 10px;
}

#copiar{
    width: 75%;
    margin-top: 5px;
}
}

@media(max-width:768px){
.titulo{
    width: 95%;
    text-align: center;
}    
.mensajeIngresado{
    width: 90%;
    text-align: center;
}

.mensajeProcesado{
    width: 90%;
    position: relative;
}
.munheco{
    width: 50%;
    margin-top: 0;
}

.btn{
    width: 90%;
    margin: auto;
}
}